#export DB_HOST=localhost
#export DB_PORT=5432
#export DB_NAME=postgres
#export DB_USERNAME=postgres
#export DB_PASSWORD=mysecretpassword


export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=mysecretpassword
export SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
export SPRING_DATASOURCE_USERNAME=postgres
export SPRING_DATASOURCE_PASSWORD=mysecretpassword
export SPRING_JPA_HIBERNATE_DDL_AUTO=update